/@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Hanna Chen
   Date:   2017-10-19

   Filename:         pcg_paper.css
   Supporting Files:

*/

/* Main Strcutural Styles */

html {
	background-color: hsla(50, 60%, 70%,0.8);
}

body  {
	color: orange;
	font-family: Verdana, Geneva, sans-serif;
	background-color: rgb(209, 198, 115);
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
}

article h1{
	font-family: 'Lobster', cursive;
}


body header > img {
	width: 100%;
	display: block;
	margin: 0;
}
/* Header Navigation */

header > nav {
	display: table;
	width: 100%;
}

header > nav > ul {
	display: table-row;
	list-style-type: none;
}

header > nav > ul > li {
	display: table-cell;
	text-align: center;
}

header > nav a {
	display: block;
	width: 100%;
}
header nav {
	background-color: rgb(178, 54, 35);
}

header nav > ul a {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

header nav > ul a:hover {
	color: rgb(229, 88, 36);

}
/* leftcolumn navigation */

div#leftcol > nav > ul {
    line-height: 2em;
	list-style-type: none;
}

div#leftcol > nav > ul a {
	text-decoration: none;
	color: black;
	font-size: 0.9em;
}

div#leftcol > nav > ul a:hover {
    color: rgb(229, 88, 36);
}

div#leftcol {
	width: 27%;
	float: left;
	margin-top: 1em;	
	display: inline;
	background-color: hsl(45, 100%, 70%);
	border-radius: 15px;
}

div#leftcol h2{
	padding-left: 1.5em;
	font-family: 'Lobster', cursive;
}

/* right column articles */

main#rightcol {
	width: 70%;
	float: left;
	margin-left: 2%;
	margin-bottom: 1%;
	color:black;
	display: inline;
}

main#rightcol > p {
      line-height:1.7em;
	  padding-left: 20px;
	  margin-left:10px;
}

main#rightcol h1 {
	padding-left: 20px;
	margin-left:10px;
}

article.mainarticle {
	border-radius: 15px;	
    background-color: hsl(36, 100%, 95%);
	padding: 1em;
	margin-top: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
}

article img{
	float: left;
	padding: 1em;
	width: 20%;
	display: block;
}

aside {
	background-color: hsl(24, 100%, 80%);
	padding: 1em;
	margin-top: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
	border-radius: 15px;
}

aside h2 {
	color: black;
	font-size: 1.1em;
	font-family: 'Lobster', cursive;
}
aside ul {
	color: black;
	font-size: 0.9em;
	font-family: Verdana, Geneva, sans-serif;
	line-height:1.5em;
}

footer  {
   background-color: rgb(178, 54, 35);
   color: rgba(255, 255, 255, 0.7);
   font-size: 0.8em;
   text-align: center;
   vertical-align: center;
   height: 1.5em;
   margin-top: 5em;
   position: relative;
}
footer {
	clear: both;
}