/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 4

   Hamilton Conference Center Style Sheet
   Author: Hanna Chen
   Date:  2017-10-31

   Filename:         hcc_styles.css
   Supporting files: 

*/
/* Main Strcutural Styles */
html {
	background-color: hsla(50, 60%, 70%,0.8);
}

body  {
	color: orange;
	font-family: Verdana,Geneva,sans-serif;
	background-color: rgb(209, 198, 115);
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	min-width: 640px;
}
img#bannerlogo {
	width:100%;
    height:180px;
	
}

h1, h2 {
	font-family:"Book Antiqua";
}
/* section styles */
/* left column */

section#leftcol h1 {
	text-align: left;
	padding-left: 20px;
}


section#leftcol ul {
    line-height: 2em;
	list-style-type: none;
	text-align: left;
	padding-left:60px;
}

section#leftcol ul li{
	text-align: left;
}

section#leftcol a {
	text-decoration: none;
	color: white;
	font-size: 0.9em;
	
}

section#leftcol a:hover {
    color: hsl(220, 100%, 20%);
}

section#leftcol {
	width: 30%;
	float: left;
	margin-top: 1em;	
	display: inline;
	
}

div#sidelinks {
	background-color: hsl(340, 100%, 35%);
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 6em;
	padding: 1em;
	border-radius: 15px;
	height:450px;
}
aside {
	margin-top: 3em;	
	color: black;
}


aside  h2,ul {
	text-align: center;
}

/* right column */

section#rightcol h3 {
	color:red;
	text-align: right;
}
section#rightcol h1,h3 {
	padding-left: 20px;
	margin-left:10px;
}
section#rightcol {
	width: 67%;
	float: left;
	margin-left: 1%;
	margin-bottom: 1%;
	color:black;
	display: inline;
}
aside#rightsection {
	
	background-color: rgb(255, 214, 51);
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 6em;
	padding: 1.3em;
	border-radius: 15px;
}

  /*column styles */
  
 aside#rightsection  h1 {
  -moz-column-span: all;
  -webkit-column-span: all;
  column-span: all;
  color:red;
  text-align:center;
 } 
  
  
aside#rightsection > p {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: 30px;
	
	column-rule: 1px solid black;
	
}


div.column {
    float: left;
    width: 50%;
    padding: 20px;
	background-color: rgb(244, 167, 66);
	border-style: solid;
	border-width: 1px;
	
}

div.row:after {
    content: "";
    display: table;
    clear: both;
}
div.column > ul {
    line-height: 2em;
	list-style-type: none;
}

* {
    box-sizing: border-box;
}


/* footer styles */

body > footer  {
   background-color: black;
   color: rgba(255, 255, 255, 0.7);
   font-size: 0.6em;
   text-align: center;
   clear: both;
}